<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">How to use params and use them for API calls</h1>
          

        <div>
            <label>Hero name:
              <input #heroName class="form-controll w3-input"/>
            </label>
            <!-- (click) passes input value to add() and then clears the input -->
            <button (click)="add(heroName.value); heroName.value=''" class="btn btn-success btn-lg btn-block">
              add
            </button>
          </div>



<table class="table">
    <tr *ngFor="let task of tasks">
        <td class="text-left">
            <a (click)="edit(task)">
                <span *ngIf="!editTask || editTask && editTask.id!==task.id">  
                    {{task.title}}

                </span>
                

                <input type="text" *ngIf="editTask && editTask.id===task.id" [(ngModel)]="task.title" (blur)="update()" (keyup.enter)="update()">
             
            </a>
        </td>
        <td class="text-right">   
           <button class="btn btn-danger" (click)="delete(task)"> Delete</button>
            <!-- Add router link to change page -->
            <button class="btn btn-primary" [routerLink]='["/task" , task.id]' >View</button>
        </td>
    </tr>
</table>
    
      </div>
    </div>
  </div>




